In [4]:
!twarc2 search --archive "(#TamponTax) has:geo lang:en place_country:US" --start-time "2015-01-01" --end-time "2021-08-31" >tampon_tax_network.json

In [5]:
!twarc2 network tampon_tax_network.json tampon_tax_network.html --min-subgraph-size 3

In [6]:
!twarc2 network tampon_tax_network.json --format csv tampon_tax_network.csv

In [7]:
import pandas as pd
pd.options.display.max_rows = 100
network_df = pd.read_csv('tampon_tax_network.csv', delimiter=",")

In [8]:
network_df

       KatieWellsMD      sevendaysvt  {'tweet_type': 'quote'   'weight': 1}
0      SenatorAgard  AsGoesWisconsin  {'tweet_type': 'quote'   'weight': 1}
1    J_Stephens_CPA       andreacpa0  {'tweet_type': 'reply'   'weight': 1}
2        jweisswolf         19thnews  {'tweet_type': 'quote'   'weight': 1}
3        jweisswolf         amydiehl  {'tweet_type': 'quote'   'weight': 1}
4        jweisswolf              NPR  {'tweet_type': 'reply'   'weight': 3}
..              ...              ...                     ...            ...
171       ampcideas         mashable  {'tweet_type': 'quote'   'weight': 1}
172      badillo_rb  FortuneMagazine  {'tweet_type': 'quote'   'weight': 1}
173     DianaNeilan         BuzzFeed  {'tweet_type': 'quote'   'weight': 1}
174      NashTshema       BuzzFeedUK  {'tweet_type': 'quote'   'weight': 1}
175   bellablueyes1        RHOGossip  {'tweet_type': 'reply'   'weight': 1}

[176 rows x 4 columns]

In [9]:
!twarc2 network tampon_tax_network.json --format gexf tampon_tax_network_min.gexf --min-subgraph-size 3

In [11]:
!twarc2 network tampon_tax_network.json --format json tampon_tax_network.json --min-subgraph-size 3

In [14]:
!twarc2 network tampon_tax_network.json --nodes tweets --format gexf tampon_tax_network_tweets.gexf